In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [2]:
Titanic = sns.load_dataset('titanic')

In [3]:
Titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## wrangle data

In [39]:
def sex (series):
    if series == 'male':
        return 0
    if series == 'female':
        return 1
Titanic['sex1'] = Titanic['sex'].apply(sex)

In [41]:
def alive (series):
    if series == 'yes':
        return 0
    if series == 'no':
        return 1
Titanic['alive1'] = Titanic['alive'].apply(alive)

In [49]:
Titanic.dropna(inplace=True)

In [50]:
Titanic.age = Titanic.age.astype(int)

In [51]:
Titanic1 = Titanic.drop(['alone', 'parch', 'fare', 'embark_town', 'who','adult_male', 'class', 'deck', 'sex', 'embarked','embarked1', 'alive'], axis = 1)

In [52]:
Titanic1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180 entries, 1 to 889
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  180 non-null    int64
 1   pclass    180 non-null    int64
 2   age       180 non-null    int32
 3   sibsp     180 non-null    int64
 4   sex1      180 non-null    int64
 5   alive1    180 non-null    int64
dtypes: int32(1), int64(5)
memory usage: 9.1 KB

In [53]:
x = Titanic1.drop('survived', axis=1)
y = Titanic1['survived']

## train test split

In [54]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=76)

## initial decision tree

In [55]:
decisionTree = DecisionTreeClassifier(random_state=76)
decisionTree.fit(x_train, y_train)

DecisionTreeClassifier(random_state=76)

## assess model

In [56]:
treePredictions = decisionTree.predict(x_test)

## confusion matrix

In [57]:
print(confusion_matrix(y_test, treePredictions))

[[22  0]
 [ 0 32]]

## classification report

In [58]:
print(classification_report(y_test, treePredictions))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        22
           1       1.00      1.00      1.00        32

    accuracy                           1.00        54
   macro avg       1.00      1.00      1.00        54
weighted avg       1.00      1.00      1.00        54

# PART 2

In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

## wrangle data

In [59]:
def sex (series):

    if series == 'male':

        return 0

    if series == 'female':

        return 1

Titanic['sex1'] = Titanic['sex'].apply(sex)

def alive (series):

    if series == 'yes':

        return 0

    if series == 'no':

        return 1

Titanic['alive1'] = Titanic['alive'].apply(alive)

In [59]:
Titanic.dropna(inplace=True)

In [59]:
Titanic.age = Titanic.age.astype(int)

In [59]:
Titanic1 = Titanic.drop(['alone', 'parch', 'fare', 'embark_town', 'who','adult_male', 'class', 'deck', 'sex', 'embarked','embarked1', 'alive'], axis = 1)

Titanic1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180 entries, 1 to 889
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  180 non-null    int64
 1   pclass    180 non-null    int64
 2   age       180 non-null    int32
 3   sibsp     180 non-null    int64
 4   sex1      180 non-null    int64
 5   alive1    180 non-null    int64
dtypes: int32(1), int64(5)
memory usage: 9.1 KB

In [60]:
x = Titanic1.drop('survived', axis=1)
y = Titanic1['survived']

## Train test split

In [61]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=76)

## forest model

In [62]:
forest = RandomForestClassifier(n_estimators=500, random_state=76)
forest.fit(x_train, y_train)

RandomForestClassifier(n_estimators=500, random_state=76)

## evaluate

In [63]:
forestPredictions = forest.predict(x_test)
print(confusion_matrix(y_test, forestPredictions))
print(classification_report(y_test, forestPredictions))

[[22  0]
 [ 0 32]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        22
           1       1.00      1.00      1.00        32

    accuracy                           1.00        54
   macro avg       1.00      1.00      1.00        54
weighted avg       1.00      1.00      1.00        54

#### both trees have the same outcome for accuracy